{% extends '@Mobicoop/base.html.twig' %}

{% block title %}{% trans with {'CityA': originTitle, 'CityB': destinationTitle} from 'meta' %}meta.results.title{% endtrans %}{% endblock %}
{% block desc %}{% trans with {'CityA': originTitle, 'CityB': destinationTitle} from 'meta' %}meta.results.description{% endtrans %}{% endblock %}

{% block stylesheets %}
    {#{{ encore_entry_link_tags("#{assets_prefix ?? ''}carpool/results") }}#}
{% endblock %}
{% block main %}
    <matching
	    :carpool-settings-display="{{ carpoolSettingsDisplay ? "true" : "false" }}"
        :age-display="{{ (ageDisplay) ? 'true' : 'false' }}"
        :birthdate-display="{{ birthdateDisplay is defined ? (birthdateDisplay ? 'true' : 'false') : 'false' }}"
        :community-id = "{{ communityId is defined ? (communityId ? communityId : 'null') : 'null' }}"
        :community-proposal-id = "{{ communityProposalId is defined ? (communityProposalId ? communityProposalId : 'null') : 'null' }}"
        :default-role="{{ defaultRole }}"
        :destination = "{{ destination is defined ? destination : 'null' }}"
        :display-logo-no-result="{{ displayLogoNoResult ? 'true' : 'false'}}"
        :external-rdex-journeys="{{ (externalRDEXJourneys) ? 'true' : 'false' }}"
        :fraud-warning-display="{{ (fraudWarningDisplay) ? 'true' : 'false' }}"
        :geo-complete-palette="{{geoCompletePalette|json_encode}}"
        :geo-complete-results-order="{{geoCompleteResultsOrder|json_encode}}"
        :origin = "{{ origin is defined ? origin : 'null' }}"
        :proposal-id = "{{ proposalId is defined ? (proposalId ? proposalId : 'null') : 'null' }}"
        :pt-search="{{ (ptSearch) ? 'true' : 'false' }}"
        :user="{{ app.user|json_encode }}"
        {{ distinguishRegular ? 'distinguish-regular' : '' }}
        {{ geoCompleteChip ? 'geo-complete-chip' : '' }}
        {{ regular is defined ? (regular == 'true' ? 'regular' : '') : '' }}
        {{ searchPunctualDate ? 'punctual-date-optional' : '' }}
        date = "{{ date is defined ? date : '' }}"
        destination-literal = "{{ destinationLiteral is defined ? destinationLiteral : 'null' }}"
        external-id = "{{ externalId is defined ? externalId : '' }}"
        geo-search-url="{{ geoCompleteUri }}"
        origin-literal = "{{ originLiteral is defined ? originLiteral : 'null' }}"
        platform-name="{{ platformName }}"
        time = "{{ time is defined ? time : '' }}"
        :carpool-standard-booking-enabled="{{ carpoolStandardBookingEnabled ? "true" : "false" }}"
	    :carpool-standard-messaging-enabled="{{ carpoolStandardMessagingEnabled ? "true" : "false" }}"
    />

{% endblock %}
