{% extends '@Mobicoop/base.html.twig' %}

{% block title %}
  {% trans from 'ui' %}user.profile.title{% endtrans %} - {{ app_name }}
{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block main %}

	<Profile
      api-uri="{{ app.request.server.get('API_URI') }}"
	  geo-search-url="{{ geoCompleteUri }}"
      :geo-complete-results-order="{{geoCompleteResultsOrder|json_encode}}"
      :geo-complete-palette="{{geoCompletePalette|json_encode}}"
      {{ geoCompleteChip ? 'geo-complete-chip' : '' }}
	  age-min="{{ ageMin }}"
	  age-max="{{ ageMax }}"
	  selected-tab="{{ selectedTab }}"
	  tab-default="{{ tabDefault }}"
	  validation-docs-authorized-extensions="{{ validationDocsAuthorizedExtensions }}"
	  :age-display="{{ ageDisplay ? "true" : "false" }}"
	  :carpool-settings-display="{{ carpoolSettingsDisplay ? "true" : "false" }}"
	  :alerts="{{ alerts|json_encode }}"
	  :image-min-px-size="{{ imageMinPxSize }}"
	  :image-max-mb-size="{{ imageMaxMbSize }}"
	  :payment-electronic-active = "{{ paymentElectronicActive|json_encode }}"
	  :platform="{{ app_name|json_encode }}"
	  :show-reviews="{{ showReviews ? "true" : "false" }}"
	  :user="{{app.user|json_encode}}"
	  :cee-display="{{ ceeDisplay ? "true" : "false" }}"
      :is-after-eec-subscription="{{ isAfterEECSubscription ? "true" : "false" }}"
	></Profile>

{% endblock %}
